<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Your WCAG Palette</title>
    <link rel="stylesheet" href="https://use.typekit.net/hiy5ivd.css">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <main>
        <h1>Your WCAG Color Palette</h1>

        <div class="palette" style="background-color: <%= palette.base %>;">
            <% Object.entries(palette).forEach(([name, color])=> { %>
                <div class="color-box" style="color: <%= color %>;">
                    <p>
                        <%= name %>
                    </p>
                    <p>
                        <%= color %>
                    </p>
                </div>
                <% }) %>
        </div>

        <form action="/palette/save" method="POST">
            <label for="name">Palette Name:</label>
            <input type="text" id="name" name="name" placeholder="My Palette" required />

            <input type="hidden" name="basecolor" value="<%= basecolor %>">
            <input type="hidden" name="colors" value='<%= JSON.stringify(palette) %>'>
            <input type="hidden" name="level" value="<%= level %>">
            <input type="hidden" name="isLargeText" value="<%= isLargeText %>">

            <button type="submit">Save Palette</button>
        </form>


        <a href="/">← Generate another palette</a>
    </main>
</body>

</html>